---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I am a self taught developer with a passion for infrastructure. I currently work as an SRE since this is a role that combines my passion for coding and my love for infrastructure. During my early career I worked as an IT consluntant on a company in my hometown.
    That was my first chance to work with server and infrastructure in general while still learning to code and use as an automation tool to make my life easier. Then I moved in a software engineering role where I developed various web applications that were supporting
    care givers in diagnsing and supporting people with dementia and alzheimer diseases. While I did a lot of "DevOps" work as part of my role, I was missing the infrastructure part of it. That's why I decided to move to a SRE role which to my eyes is the perfect combination
    of two worlds that I equally love and want to practice.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Physics Degree"
      subtitle="at Aristotle Uninversity of Thessaloniki, Greece"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineer"
      subtitle="From 03-2018 to 09-2020 at Center of Research and Technology (CERTH), Thessaloniki, Greece"
    >
      During my time in Certh I have worked as a software engineer in a eHealthe research team implemneting solutions for people with dimentia and alzheimer deseaes using commercial IoT solutions.
    </TimeLineElement>
    <TimeLineElement
      title="Site Reliability Engieer"
      subtitle="From 10-2020  at Workable, Remote, Greece"
    >
      Part of the a central SRE team responsible for the whole infrastructure of the company and the CI/CD pipelines.
    </TimeLineElement>
  </div>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Kubernetes</li>
    <li>Kafka</li>
    <li>MongoDB</li>
    <li>Postgresql</li>
    <li>Redis</li>
    <li>Python</li>
    <li>Go</li>
    <li>Javascript</li>
    <li>Ruby</li>
    <li>Github Actions</li>
    <li>Datadog</li>
    <li>GCP</li>
    <li>AWS</li>
</BaseLayout>
